.hero__title-wrapper {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  z-index: 2;
  width: 115%;
  padding: 20px;
  text-align: center;
  margin-top: 1rem;
}

.hero__title {
  color: #f2f2f2 !important;
  padding-bottom: 10rem;
}
.hero__button {
  position: absolute;
  z-index: 2;
  margin-top: 2rem;
}
