.form {
    &__header-holder {
      margin: 1rem 0;
    }

    &__required {
        color: red;
        font-weight: bold;
    }

    &__label {
        margin: 0px;
        word-wrap: break-word;
        font-size: 11px;
        line-height: 25px;
        letter-spacing: 1px;
        color: #484848;
        font-weight: 800;
        text-transform: uppercase;

        &--dropdown {
            margin-top: 11px;
        }
    }

    &__subtitle{
        margin: 10px 0;
    }

    &__details {
        display: flex;

        @media (max-width: 450px) {
            flex-direction: column;
        }
    }

    &__detail {
        padding: 12px 0;
        width: 50%;

        @media (max-width: 450px){
            width: 100%;
            padding: 5px 0;
        }

        input {
            width: 100%;
        }
    }

    &__left-input {
        height: 40px;
        width: 50%;
        border-radius: 3px 0px 0px 3px;
        margin: 0;

        @media (max-width: 450px) {
            width: 100%
        }
    }

    &__right-input {
        height: 40px;
        width: 50%;
        border-radius: 0px 3px 3px 0px;
        margin: 0;

        @media (max-width: 450px) {
            width: 100%
        }
    }

    &__comments {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        height: 130px;
    }

    &__list-items {
        padding-left: 20px;
    }

    &__checkbox-holder {
        margin: 10px 0 18px;
    }

    &__hours {
        margin-bottom: 1rem;
    }

    &__dropdowns-holder{
        display: flex;
        padding: 0 0 40px 0;
    }

    &__checkbox-flex {
        width: 50%;

        @media(max-width: 520px){
            width: 100%
        }
    }

    &__checkbox-flex-holder {
        display: flex;

        @media(max-width: 520px){
            flex-direction: column;
        }
    }

    &__checkbox {
        display: flex;
        font-weight: normal;
        align-items: center;
        font-size: 0.95rem;
        margin: 2px 0;

        &-label{
            font-weight: normal;
        }
    }
}


//overwriting airbnb date picker styles
.Date {
    &Input {
        text-align: center !important;
        width: 100% !important;

        &_input {
            font-weight: 400 !important;
        }
    }

    &RangePicker{
        width: 100% !important;

        &Input {
            background-color: #fafafa !important;

            &__withBorder{
                border-radius: 4px !important;
                text-align: center !important;
                width: 100% !important;
                display: flex !important;
                justify-content: center;
                align-items: center !important;
            }
        }
    }
}

#vacation-start-date, #vacation-end-date {
    text-align: center;
    background-color: #fafafa;
    height: 40px;
    font-size: 1rem;
    color: #555;
}

//overwriting select box styles
.form__left-input > .css-10nd86i .css-1aya2g8:first-child {
    border-radius: 3px 0 0 3px !important;
}

.form__right-input > .css-10nd86i .css-1aya2g8:first-child {
    border-radius: 0 3px 3px 0 !important;
}

.contact-form {
    &__container {
        color: #484848;
        background: #F2F2F2;
        padding: 2rem 2rem 2.5rem 2rem;
        margin: 0 0 0 1rem;
        height: fit-content;

        @media (max-width: 500px) {
            margin: 0;
            padding: 1rem;
        }
    }

    &__img-icon {
        position: relative;
        top: 4px;
        margin-right: 10px;
        width: 20px;
    }

    &__h3 {
        margin: 0;
        margin-bottom: 10px;

        @media (max-width: 500px) {
            font-size: 23px;
        }
    }

    &__subtitle {
        margin: 0px 0 25px 0;

        @media (max-width: 500px) {
            font-size: 15px;
        }
    }

    &__button {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 28px;
        font-size: 1rem;
        margin-bottom: 28px;
    }
}
